#body-search button {
    width: 60px;
    height: 40px;
    text-align: center;
}

#body-search{
    width: 20%;
    min-width: 900px;
    min-height: 200px;
    background-color: rgb(0, 60, 120);
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

#body{
    padding: 40px;
    display: flex;
    justify-content: center;
}

#body-right{
    border: solid 2px lightgray;
    border-color: lightgray;
    border-radius: 10px;
}

#body-right > div {
    margin-left: 10px;
}

#detail-title {
    display: flex;
}

#detail-title-img {
    display: flex;
}

#detail-title-img img{
    width: 250px;
    height: 250px;
}

#enroll-title:hover ,
#enroll-textarea:hover , 
#enroll-contact:hover ,
#enroll-price:hover ,
.enroll-date:hover {
    background-color: rgb(235, 235, 235);
}

#enroll-textarea {
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    border: 0;
    padding-left: 10px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

#enroll-header {
    display: flex;
    flex-direction: column;
}

#enroll-content{
    display: flex;
}

#enroll-title {
    width: 500px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
}

#enroll-contact {
    width: 500px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
}

#enroll-price {
    width: 200px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    text-align:right;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
}

.enroll-date {
    width: 200px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
}

#enroll-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyword {
    width: 300px;
    height: 35px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
}

#enroll-footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enroll-btn {
    width: 300px;
    height: 60px;
    background-color: rgb(0, 60, 120);
    color: white;
    border-radius: 9px;
    border: 0;
    box-shadow: 5px 5px 5px gray;
}

#enroll-btn:hover {
	cursor: pointer;
}

select {
    height: 40px;
    width: 90px;
}

#enroll-category h1 {
	display: flex;
	align-items: center;
}