#body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ptj-body1 ,
#ptj-body2 ,
#ptj-body3 {
    display: flex;
    justify-content: space-evenly;
}

#paging {
    display: flex;
    flex-direction: column;
}

#ptj-allBody{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	flex-wrap: wrap;
	padding: 10px;
	background-color: rgb(181, 198, 215);
	height: 1000px;
	width: 750px;
}

#ptj-allBody > div {
	border: solid #3f668f 7px;
	border-radius: 10px;
	background-color: white;
	height: 300px;
}

#ptj-allBody > div:hover {
	box-shadow: 5px 5px 5px gray;
}

#ptj-allBody > p {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

#write-board {
	display: flex;
	justify-content: space-between;
}

#write-btn{
	border-radius: 10px;
	border: 0;
	box-shadow: 5px 5px 5px gray;
	background: rgb(0, 60, 120);
	color: white;
}

#write-btn:hover,
.list-detail:hover {
	cursor: pointer;
}

#paging-btns {
	width: 100%;
    display: flex;
    justify-content: center;
}

#paging-btns>div{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    border: 1px solid transparent;
}

#board-content {
	font-size : xx-small;
}

#ptj-content {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.item-img {
	border-bottom : none;
    border-radius: 10px 10px 0 0;
}

.item-info {
    border-radius: 0 0 10px 10px;
    background : white;
}
.items{
	margin : 0px 10px;
	cursor: pointer;
	height: 295px;
    border-radius: 12px;
}
.items:hover{
	box-shadow: 5px 5px 5px gray;
}

.item-info p {
	width: 185px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#search{
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3f668f;
    border-radius: 3px;
    background:white;
    
}

#search>img{
    margin: 10px;
}
#search>input{
    border: 1px solid transparent;
    height: 100%;
    background : white;
    border-left: 2px solid #3f668f;
    width: 210px;
    padding-left : 10px;
}

#search>input:focus { outline: none; }
