<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="GENDER" property="gender"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="PHONE" property="phone"/>
		<result column="PWD_UPDATE_DATE" property="pwdUpdateDate"/>
		<result column="IS_BANNED" property="isBanned"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="CURRENT_LOGIN" property="currentLogin"/>
		<result column="JOIN_DATE" property="joinDate"/>
	</resultMap>

	<select id="loginAdmin" parameterType="member" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE USER_ID = #{userId}
		  AND USER_PWD = #{userPwd}
		  AND AUTHORITY = 0
		  AND STATUS = 'Y'
	</select>
	
	<select id="selectMemberListCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE AUTHORITY = 1
		<choose>
			<when test="tab == 'active'">
				AND STATUS = 'Y'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'suspend'">
				AND STATUS = 'N'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'banned'">
				AND IS_BANNED = 'Y'
			</when>
		</choose>
	</select>
	
	<select id="memberList" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE AUTHORITY = 1
		<choose>
			<when test="tab == 'active'">
				AND STATUS = 'Y'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'suspend'">
				AND STATUS = 'N'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'banned'">
				AND IS_BANNED = 'Y'
			</when>
		</choose>
		ORDER BY CURRENT_LOGIN DESC,STATUS DESC, IS_BANNED ASC
	</select>
	
	<select id="selectInfoBox" resultType="hashmap">
		SELECT COUNT(*) as 'all', 
	       (SELECT COUNT(*) FROM MEMBER WHERE CURRENT_LOGIN = 'Y' AND AUTHORITY = '1') as 'current',
	       (SELECT COUNT(*) FROM MEMBER WHERE IS_BANNED = 'Y' AND AUTHORITY = '1') as 'ban',
	       (SELECT COUNT(*) FROM MEMBER WHERE STATUS = 'N' AND AUTHORITY = '1') as 'suspend'
		FROM MEMBER
		WHERE AUTHORITY = '1';
	</select>
	
	<select id="memberListAjax" resultMap="memberResultSet" parameterType="String">
		SELECT *
		FROM MEMBER
		WHERE AUTHORITY = 1
		<choose>
			<when test="tab == 'memberActive'">
				AND STATUS = 'Y'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'memberSuspend'">
				AND STATUS = 'N'
				AND IS_BANNED = 'N'
			</when>
			<when test="tab == 'memberBanned'">
				AND IS_BANNED = 'Y'
			</when>
		</choose>
		ORDER BY CURRENT_LOGIN DESC
	</select>
</mapper>