<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="board" id="boardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="CATEGORY_S_NO"  property="categorySNo"/>
		<result column="CONTENT"  property="content"/>
		<result column="CREATE_DATE"  property="createDate"/>
		<result column="READ_COUNT"  property="readCount"/>
		<result column="REPORT_COUNT"  property="reportCount"/>
		<result column="TITLE"  property="title"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="WISH_COUNT"  property="wishCount"/>
		<result column="CATEGORY_U_NO"  property="categoryUNo"/>
	</resultMap>
	
	<resultMap type="upperCategory" id="upperCategoryResultSet">
		<id column="CATEGORY_U_NO" property="categoryUNo"/>
		<result column="CATEGORY_U_NAME" property="categoryUName"/>
		<result column="CATEGORY_PATH" property="categoryPath"/>
	</resultMap>
	
	<resultMap type="subCategory" id="subCategoryResultSet">
		<id column="CATEGORY_S_NO" property="categorySNo"/>
		<result column="CATEGORY_U_NO" property="categoryUNo"/>
		<result column="CATEGORY_S_NAME" property="categorySName"/>
	</resultMap>
	
	<resultMap type="location" id="locationResultSet">
		<id column="LOCATION_NO" property="locationNo"/>
		<result column="LOCATION_NAME" property="locationName"/>
	</resultMap>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		  FROM BOARD
		 WHERE BOARD_NO = 1
	</select>
	
	
	<select id="selectBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_
	</select>
	
	<insert id="sgInsertBoard">
		INSERT INTO BOARD
		(
		CATEGORY_S_NO,
		TITLE,
		CONTENT,
		USER_NO,
		CATEGORY_U_NO
		
		)
		VALUES(
		2,
		#{title},
		#{content},
		#{userNo},
		7
		)
		<selectKey resultType="int" keyProperty="boardNo" keyColumn="BOARD_NO" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	
	
	<select id="selectCategoryList" resultMap="upperCategoryResultSet"></select>
	
	<select id="selectUpperCategoryList" resultMap="upperCategoryResultSet">
		SELECT *
		  FROM UPPER_CATEGORY;
		
	</select>
	
	
	<select id="smallgrouplist">
		SELECT * 
		FROMM BOARD b
		FULL OUTER JOIN SMALL_GROUP s ON b.BOARD_NO = s.BOARD_NO;
	</select>
	
	<select id="selectSubCategoryList" resultMap="subCategoryResultSet">
		SELECT *
		  FROM SUB_CATEGORY
	</select>
	
	<select id="selectLocationList" resultMap="locationResultSet">
		SELECT *
		  FROM LOCATION;
	</select>
	<!-- //BOARD 에있는것만 바꾸는거  -->
	
	<update id="sgUpdateBoard">
	UPDATE BOARD 
	SET TITLE = #{title},
	   CONTENT = #{content}
	 WHERE BOARD_NO = #{boardNO}
	  
	</update>
	
	<insert id="insertBoard" parameterType="board" useGeneratedKeys="true" keyProperty="boardNo">
	<if test="categorySNo == 0">
		<bind name="categorySNo" value="null"/>
	</if>
		INSERT INTO BOARD(CATEGORY_S_NO, CATEGORY_U_NO, TITLE, CONTENT,USER_NO)
		            VALUES(#{categorySNo}, #{categoryUNo}, #{title}, #{content}, #{userNo})
	</insert> 
	
	<insert id="insertImageList" parameterType="list">
		INSERT INTO IMAGE (ORIGIN_NAME, CHANGE_NAME, BOARD_NO, FILE_LEVEL)
		     SELECT C.* 
		       FROM ( <foreach collection="list" item="image" separator="UNION ALL">
		       				SELECT #{image.originName} AS ORIGIN_NAME
		       					 , #{image.changeName} AS CHANGE_NAME
		       					 , #{image.boardNo} AS BOARD_NO
		       					 , #{image.fileLevel} AS FILE_LEVEL
		       				  FROM DUAL
		       			</foreach> ) C	
	</insert>
	
</mapper>
