<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="carPoolMapper">
	
<resultMap type="carPool" id="carPoolResultSet">
	<id column="BOARD_NO" property="boardNo" />
	<result column="RECRUITS_NUM" property="recruitsNum" />
	<result column="RECRUITS_CURR" property="recruitsCurr" />
	<result column="START_TIME" property="startTime" />
	<result column="END_TIME" property="endTime" />
	<result column="IS_END" property="isEnd" />
	<result column="PRICE" property="price" />
	<result column="LOCATION_NO" property="locationNo" />
	<result column="IMG_PATH" property="imgPath" />
	<result column="ORIGIN" property="origin" />
	<result column="DESTINATION" property="destination" />
	<association property="board" column="BOARD_NO" javaType="com.ace.thrifty.board.model.vo.Board">
			<id column="BOARD_NO" property="boardNo"/>			
			<result column="CATEGORY_S_NO"  property="categorySNo"/>
			<result column="CONTENT"  property="content"/>
			<result column="CREATE_DATE"  property="createDate"/>
			<result column="READ_COUNT"  property="readCount"/>
			<result column="REPORT_COUNT"  property="reportCount"/>
			<result column="TITLE"  property="title"/>
			<result column="USER_NO"  property="userNo"/>
			<result column="WISH_COUNT"  property="wishCount"/>
	</association>
	<collection property="imageList" column="BOARD_NO" javaType="java.util.ArrayList" ofType="com.ace.thrifty.board.model.vo.Image">
			<id column="IMG_NO" property="imgNo"/>
			<result column="BOARD_NO" property="boardNo"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="FILE_LEVEL" property="fileLevel"/>
			<result column="STATUS" property="status"/>
	</collection>
	<collection property="member" javaType="com.ace.thrifty.member.model.vo.Member">
			<id column="USER_NO" property="userNo"/>
			<result column="USER_NAME" property="userName"/>
			<result column="NICK_NAME" property="nickName"/>
			<result column="GENDER" property="gender" />
			<result column="USER_ID" property="userId" />
			<result column="PHONE" property="phone" />
	</collection>
	<collection property="subCategory" resultMap="subCategoryResultSet" />
	<collection property="location" resultMap="locationResultSet"/>
</resultMap>

<resultMap type="location" id="locationResultSet">
	<result column="LOCATION_NAME" property="locationName" />
	<result column="LOCATION_NO" property="locationNo" />
</resultMap>

<resultMap type="subCategory" id="subCategoryResultSet">
	<result column="CATEGORY_S_NO" property="categorySNo" />
	<result column="CATEGORY_S_NAME" property="categorySName" />
	<result column="CATEGORY_U_NO" property="categoryUNo" />
</resultMap>

<select id="driveList" resultMap="carPoolResultSet">
	SELECT
		C.LOCATION_NO,
		B.TITLE ,
		C.RECRUITS_NUM ,
		C.RECRUITS_CURR,
		C.IS_END
	FROM CARPOOL C
	JOIN BOARD B ON C.BOARD_NO = B.BOARD_NO
	JOIN UPPER_CATEGORY UC ON UC.CATEGORY_U_NO = B.CATEGORY_U_NO
	WHERE B.STATUS = 'Y' AND UC.CATEGORY_U_NO = 3
</select>

<select id="selectDriveListCount" parameterType="map" resultType="_int">
	SELECT COUNT(*)
	FROM CARPOOL
	JOIN LOCATION USING(LOCATION_NO)
	JOIN BOARD B USING(BOARD_NO)
	WHERE B.STATUS = 'Y'
		<if test= 'scNo!= null and scNo !="" '>
	 		AND CATEGORY_S_NO = #{scNo}
	 	</if>
	 	<if test='location != null and location != ""'>
	 		AND LOCATION_NO = #{location}
	 	</if>
</select>

<select id="selectDriveList" parameterType="map" resultMap="carPoolResultSet">
	SELECT
		C.BOARD_NO,
		C.RECRUITS_NUM,
		C.RECRUITS_CURR,
		C.IS_END,
		B.TITLE,
		L.LOCATION_NAME,
		CONCAT('/resources/upfiles/carPool/', IFNULL(I.CHANGE_NAME,'NULL')) AS IMG_PATH
	FROM CARPOOL C
	LEFT JOIN BOARD B ON B.BOARD_NO = C.BOARD_NO
	LEFT JOIN LOCATION L ON C.LOCATION_NO = L.LOCATION_NO
	LEFT JOIN IMAGE I ON C.BOARD_NO = I.BOARD_NO
	LEFT JOIN UPPER_CATEGORY UC ON B.CATEGORY_U_NO = UC.CATEGORY_U_NO
	WHERE UC.CATEGORY_U_NO = 3 AND B.STATUS = 'Y' AND I.STATUS = 'Y'
		<if test= 'scNo!= null and scNo !="" '>
		 	AND B.CATEGORY_S_NO = #{scNo}
	 	</if>
	 	<if test='location != null and location!= ""'>
	 		AND C.LOCATION_NO = #{location}
	 	</if>
    <!-- GROUP BY B.BOARD_NO -->
</select>

<insert id="insertCarPool" parameterType="carPool">
	INSERT INTO CARPOOL(BOARD_NO , RECRUITS_NUM , RECRUITS_CURR , LOCATION_NO , PRICE , START_TIME , END_TIME , ORIGIN , DESTINATION)
				 VALUES(#{boardNo} , #{recruitsNum} , #{recruitsCurr} , #{locationNo} , #{price} , #{startTime} , #{endTime} , #{origin} , #{destination})
</insert>

<select id="driveDetail" resultMap="carPoolResultSet">
	SELECT
		C.BOARD_NO ,
		RECRUITS_NUM,
		RECRUITS_CURR,
		IS_END,
		C.LOCATION_NO,
		PRICE,
		START_TIME,
		END_TIME,
		ORIGIN,
		DESTINATION,
		SC.CATEGORY_S_NAME,
		B.CATEGORY_S_NO,
		B.TITLE,
		B.CONTENT,
		L.LOCATION_NAME,
		I.CHANGE_NAME,
		IMG_NO,
		FILE_LEVEL,
		I.STATUS,
		M.PHONE,
		M.USER_ID,
		M.USER_NO,
		M.GENDER
	FROM CARPOOL C
	JOIN BOARD B USING(BOARD_NO)
	JOIN LOCATION L USING(LOCATION_NO)
	JOIN IMAGE I USING(BOARD_NO)
	JOIN MEMBER M USING (USER_NO)
	LEFT JOIN SUB_CATEGORY SC ON B.CATEGORY_S_NO = SC.CATEGORY_S_NO
	WHERE C.BOARD_NO = #{bNo} 
	AND B.STATUS = 'Y'
	AND I.STATUS = 'Y'
</select>

<update id="deadLine" parameterType="board">
	UPDATE CARPOOL
	SET IS_END = 'Y'
	WHERE BOARD_NO = #{boardNo}
</update>

<select id="carPoolUpdateForm" resultMap="carPoolResultSet">
	SELECT
		C.BOARD_NO ,
		C.RECRUITS_NUM,
		C.RECRUITS_CURR,
		C.IS_END,
		C.LOCATION_NO,
		C.PRICE,
		C.START_TIME,
		C.END_TIME,
		C.ORIGIN,
		C.DESTINATION,
		SC.CATEGORY_S_NAME,
		SC.CATEGORY_S_NO,
		B.TITLE,
		B.CONTENT,
		L.LOCATION_NAME,
		I.CHANGE_NAME,
		I.IMG_NO,
		I.FILE_LEVEL,
		I.STATUS,
		M.PHONE,
		M.USER_ID,
		M.USER_NO,
		M.GENDER
	FROM CARPOOL C
	JOIN BOARD B USING(BOARD_NO)
	JOIN LOCATION L USING(LOCATION_NO)
	JOIN IMAGE I USING(BOARD_NO)
	JOIN MEMBER M USING(USER_NO)
	LEFT JOIN SUB_CATEGORY SC ON B.CATEGORY_S_NO = SC.CATEGORY_S_NO
	WHERE C.BOARD_NO = #{bNo} 
	  AND B.STATUS = 'Y'
	  AND I.STATUS = 'Y'
</select>

<update id="carPoolBoardUpdate" parameterType="carPool">
	UPDATE CARPOOL
	   SET PRICE = #{price},
	       START_TIME = #{startTime},
	       END_TIME = #{endTime},
	       LOCATION_NO = #{locationNo},
	       ORIGIN = #{origin},
	       DESTINATION = #{destination}
	WHERE BOARD_NO = #{boardNo}
</update>

</mapper>
