<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co_purchaseMapper">
	<resultMap type="board" id="boardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="CATEGORY_S_NO"  property="categorySNo"/>
		<result column="CONTENT"  property="content"/>
		<result column="CREATE_DATE"  property="createDate"/>
		<result column="READ_COUNT"  property="readCount"/>
		<result column="REPORT_COUNT"  property="reportCount"/>
		<result column="TITLE"  property="title"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="WISH_COUNT"  property="wishCount"/>
		
		<collection property="imgList" resultMap="boardImgResultSet" />
		<collection property="coPurchaseList" resultMap="coPurchaseResultSet" />
	</resultMap>
	
	<resultMap type="image" id="boardImgResultSet">
		<result column="IMG_NO" property="imgNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
	</resultMap>
	
	<resultMap type="co_purchase" id="coPurchaseResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="RECRUITS_NUM" property="recruitsNum"/>
		<result column="RECRUITS_CURR" property="recruitsCurr"/>
		<result column="PRICE" property="price"/>
		<result column="DEAD_LINE" property="deadLine"/>
		<result column="IS_END" property="isEnd"/>
	</resultMap>
	
	<select id="selectBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN SUB_CATEGOTY USING(CATEGORY_S_NO)
		JOIN UPPER_CATEGORY USING(CATRGORY_U_NO)
		WHERE STATUS = 'Y'
		AND CATEGORY_PATH = #{ categoryPath }
	</select>
	
	<select id="selectBoardImg" resultMap="boardImgResultSet">
		SELECT *
		FROM IMAGE
		WHERE BOARD_NO = #{ boardNo }
		ORDER BY FILE_LEVEL
	</select>
	
	<select id="selectCoPurchase" resultMap="coPurchaseResultSet">
		SELECT *
		FROM CO_PURCHASE
		WHERE BOARD_NO = #{ boardNo }
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(CATEGORY_S_NO, USER_NO, TITLE, CONTENT, CATEGORY_U_NO)
					VALUES (#{categorySNo}, #{userNo}, #{title}, #{content}, 6)
	</insert>
</mapper>
