<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co_purchaseMapper">

	<resultMap type="co_purchase" id="coPurchaseListResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="TITLE" property="title"/>
		<result column="PRICE" property="price"/>
		<result column="RECRUITS_NUM" property="recruitsNum"/>
		<result column="RECRUITS_CURR" property="recruitsCurr"/>
		<result column="PRICE" property="price"/>
		<result column="DEAD_LINE" property="deadLine"/>
		<result column="IS_END" property="isEnd"/>
		<result column="THUMB_NAIL" property="thumbNail"/>
	</resultMap>
	
	<resultMap type="co_purchase" id="coPurchaseResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="RECRUITS_NUM" property="recruitsNum"/>
		<result column="RECRUITS_CURR" property="recruitsCurr"/>
		<result column="PRICE" property="price"/>
		<result column="DEAD_LINE" property="deadLine"/>
		<result column="IS_END" property="isEnd"/>
		
		<association property="board" column="BOARD_NO" javaType="com.ace.thrifty.board.model.vo.Board">
			<id column="BOARD_NO" property="boardNo"/>			
			<result column="CATEGORY_S_NO"  property="categorySNo"/>
			<result column="CONTENT"  property="content"/>
			<result column="CREATE_DATE"  property="createDate"/>
			<result column="READ_COUNT"  property="readCount"/>
			<result column="REPORT_COUNT"  property="reportCount"/>
			<result column="TITLE"  property="title"/>
			<result column="USER_NO"  property="userNo"/>
			<result column="WISH_COUNT"  property="wishCount"/>
		</association>
		<association property="seller" column="BOARD_NO" javaType="com.ace.thrifty.member.model.vo.Member">
			<id column="USED_NO" property="userNo"/>
			<result column="NICK_NAME" property="nickName"/>
		</association>
		<association property="image" column="BOARD_NO" javaType="com.ace.thrifty.board.model.vo.Image">
			<id column="IMG_NO" property="imgNo"/>
			<result column="BOARD_NO" property="boardNo"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="FILE_LEVEL" property="fileLevel"/>
			<result column="STATUS" property="status"/>
		</association>
	</resultMap>
	
	<select id="selectBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN SUB_CATEGOTY USING(CATEGORY_S_NO)
		JOIN UPPER_CATEGORY USING(CATRGORY_U_NO)
		WHERE STATUS = 'Y'
		AND CATEGORY_PATH = #{ categoryPath }
	</select>
	
	<select id="selectImgList" resultMap="boardImgResultSet">
		SELECT *
		FROM IMAGE
		JOIN BOARD USING(BOARD_NO)
		JOIN CO_PURCHASE USING(BOARD_NO)
	</select>
	
	<select id="selectCoList" resultMap="boardImgResultSet">
		SELECT *
		FROM CO_PURCHASE
		JOIN BOARD USING(BOARD_NO)
	</select>
	
	<select id="selectCoPurchase" resultMap="coPurchaseResultSet">
		SELECT *
		FROM CO_PURCHASE
		WHERE BOARD_NO = #{ boardNo }
	</select>
	
	<insert id="insertCo_purchase" parameterType="co_purchase">
		INSERT INTO CO_PURCHASE(BOARD_NO, RECRUITS_CURR, RECRUITS_NUM, PRICE, DEAD_LINE)
					VALUES (#{boardNo}, #{ recruitsCurr }, #{ recruitsNum }, #{ price }, #{ deadLine })
	</insert>
	
</mapper>
