<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="houseMapper">
	<resultMap type="house" id="houseResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="HOUSE_ADDRESS"  property="houseAddress"/>
		<result column="HOUSE_LONGITUDE"  property="houseLongitude"/>
		<result column="HOUSE_LATITUDE"  property="houseLatitude"/>
		<result column="INFORMATION"  property="information"/>
		<result column="THUMBNAIL"  property="thumbnail"/>
		<result column="MIN_AMOUNT"  property="minAmount"/>
		<result column="WISH"  property="wish"/>
			<collection property="roomList" javaType="java.util.ArrayList" ofType="room"
			select="selectRoomList" column="BOARD_NO" />
			<collection property="board" resultMap="boardResultSet"/>
	</resultMap>
	
	<resultMap type="room" id="roomResultSet">
		<id column="ROOM_NO" property="roomNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="RECRUITS_NUM"  property="recruitsNum"/>
		<result column="DIVISION"  property="division"/>
		<result column="GENDER"  property="gender"/>
		<result column="TYPE"  property="type"/>
		<result column="AREA"  property="area"/>
		<result column="DEPOSIT"  property="deposit"/>
		<result column="RENT"  property="rent"/>
		<result column="COST"  property="cost"/>
		<result column="CONTRAT"  property="contrat"/>
		<collection property="imgList" javaType="java.util.ArrayList" ofType="roomImg"
		select="selectImgList" column="ROOM_NO" />
	</resultMap>
	
	<resultMap type="roomImg" id="roomImgResultSet">
		<id column="IMG_NO" property="roomImgNo"/>
		<result column="ROOM_NO" property="roomNo"/>
		<result column="ORIGIN_NAME"  property="originName"/>
		<result column="CHANGE_NAME"  property="changeName"/>
		<result column="FILE_LEVEL"  property="imgLevel"/>
		<result column="STATUS"  property="status"/>
	</resultMap>
	
		<resultMap type="board" id="boardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="CATEGORY_S_NO"  property="categorySNo"/>
		<result column="CONTENT"  property="content"/>
		<result column="CREATE_DATE"  property="createDate"/>
		<result column="READ_COUNT"  property="readCount"/>
		<result column="REPORT_COUNT"  property="reportCount"/>
		<result column="TITLE"  property="title"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="WISH_COUNT"  property="wishCount"/>
	
	</resultMap>
	
	<resultMap type="tour" id="tourResultSet">
		<id column="ROOM_NO" property="roomNo"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="MOVE_IN"  property="moveIn"/>
		<result column="ENQUIRY"  property="enquiry"/>
	</resultMap>
	
	<insert id="insertHouse" parameterType="house">
		INSERT INTO SHARE_HOUSE (BOARD_NO, HOUSE_ADDRESS, HOUSE_LATITUDE, HOUSE_LONGITUDE, INFORMATION, THUMBNAIL)
		VALUES (#{boardNo}, #{houseAddress},  #{houseLatitude}, #{houseLongitude}, #{information}, #{thumbnail})
	</insert>
	
	<insert id="insertRoom" useGeneratedKeys="true" parameterType="house" keyProperty="roomNo">
		INSERT INTO ROOM (ROOM_NO, BOARD_NO, RECRUITS_NUM, DIVISION, GENDER, TYPE, AREA, DEPOSIT, RENT, COST, CONTRAT)
		VALUES ( default , #{boardNo}, #{recruitsNum}, #{division}
		, #{gender}, #{type}, #{area}, #{deposit}
		, #{rent}, #{cost}, #{contrat})
	</insert>
	
	<insert id="insertRoomImg" parameterType="java.util.ArrayList">
	INSERT INTO ROOM_IMAGE ( ORIGIN_NAME, CHANGE_NAME, ROOM_NO, FILE_LEVEL)
	SELECT C.* FROM 
	(
		<foreach collection="list" item="roomImgList" separator="UNION ALL">
			SELECT 
				#{roomImgList.originName} as ORIGIN_NAME,
				#{roomImgList.changeName} as CHANGE_NAME,
				#{roomImgList.roomNo} as ROOM_NO,
				#{roomImgList.imgLevel} as FILE_LEVEL
			FROM DUAL
		</foreach>
	) C
</insert>

	<select id="selectHouse" parameterType="_int" resultMap="houseResultSet">
		SELECT *
		FROM SHARE_HOUSE
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	 
	<select id="searchHouse"  resultMap="houseResultSet">
		SELECT BOARD.BOARD_NO, USER_NO, TITLE, HOUSE_LATITUDE, HOUSE_LONGITUDE, THUMBNAIL,
				(SELECT MIN(RENT)
					FROM ROOM
					WHERE BOARD_NO = BOARD.BOARD_NO
				) MIN_AMOUNT,
				(SELECT COUNT(*)
					FROM WISH_LIST
					WHERE BOARD_NO = BOARD.BOARD_NO
						AND USER_NO = #{userNo}) WISH
			FROM BOARD
		    LEFT JOIN SHARE_HOUSE ON SHARE_HOUSE.BOARD_NO = BOARD.BOARD_NO
		    WHERE CATEGORY_U_NO = '2'
				AND STATUS = 'Y'
				<choose>
					<when test="C != null">
						AND HOUSE_LATITUDE BETWEEN #{C.swLat} AND #{C.neLat}
						AND HOUSE_LONGITUDE BETWEEN #{C.swLng} AND #{C.neLng}
					</when>
					<otherwise>
						AND BOARD.TITLE LIKE #{keyword}
					</otherwise>
				</choose>
			ORDER BY CREATE_DATE
	</select>
	
	<select id="selectRoomList" resultMap="roomResultSet">
	SELECT *
	FROM ROOM
	WHERE BOARD_NO = #{boardNo}
	</select> 
	
	<select id="selectImgList" resultMap="roomImgResultSet">
	SELECT *
	FROM ROOM_IMAGE
	WHERE ROOM_NO = #{roomNo}
	ORDER BY FILE_LEVEL
	</select>
	
	<select id="selectHouseList" resultMap="houseResultSet">
		SELECT BOARD.BOARD_NO, USER_NO, TITLE, HOUSE_LATITUDE, HOUSE_LONGITUDE, THUMBNAIL, HOUSE_ADDRESS,
				(SELECT MIN(RENT)
					FROM ROOM
					WHERE BOARD_NO = BOARD.BOARD_NO
				) MIN_AMOUNT,
				(SELECT COUNT(*)
					FROM WISH_LIST
					WHERE BOARD_NO = BOARD.BOARD_NO
						AND USER_NO = #{userNo}) WISH
			FROM BOARD
		    LEFT JOIN SHARE_HOUSE ON SHARE_HOUSE.BOARD_NO = BOARD.BOARD_NO
		    WHERE CATEGORY_U_NO = '2'
				AND STATUS = 'Y'
			ORDER BY CREATE_DATE
	</select>
	
	<insert id="tourApply" parameterType="tour">
		INSERT INTO TOUR (ROOM_NO, USER_NO, MOVE_IN, ENQUIRY)
		VALUES (#{roomNo}, #{userNo},  #{moveIn}, #{enquiry})
	</insert>
	
	
</mapper>
