<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="GENDER" property="gender"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="PWD_UPDATE_DATE" property="pwdUpdateDate"/>
		<result column="IS_BANNED" property="isBanned"/>
		<result column="REPORT_COUNT" property="reportCount"/>
		<result column="CURRENT_LOGIN" property="currentLogin"/>
		<result column="JOIN_DATE" property="joinDate"/>
		<result column="LOGIN_METHOD" property="loginMethod"/>
	</resultMap>
	
	<select id="selectMember" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE USER_NO = 1
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER(USER_NAME, NICK_NAME, GENDER, USER_ID, USER_PWD, PHONE, EMAIL, LOGIN_METHOD, CHANGE_NAME, ORIGIN_NAME)
		     VALUES(#{userName}, #{nickName}, #{gender}, #{userId}, #{userPwd}, #{phone}, #{email}, #{loginMethod}, #{changeName}, #{originName})
	</insert>
	
	
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE USER_ID = #{userId}
		   AND USER_PWD = #{userPwd}
		   AND STATUS = 'Y'
	</select>
	
	<select id="selectById" parameterType="string" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectByEmail" parameterType="string" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE EMAIL = #{email}
	</select>
	
	<select id="selectByNickName" parameterType="string" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE NICK_NAME = #{nickName}
	</select>
	
	<update id="myPageUpdate">
		UPDATE MEMBER
		SET  USER_NAME = #{userName},
			 USER_ID = #{userId},
			 USER_PWD = #{userPwd},
			 PHONE = #{phone},
			 EMAIL = #{email},
			 NICK_NAME = #{nickName}
	   WHERE USER_NO = #{userNo}
		
	</update>
	
	<select id="myPageUpdateSelectM" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_NO = #{userNo} AND STATUS='Y'
	</select>
	
	<!-- <update id="changeProfile">
		UPDATE MEMBER
		SET USER_
	</update> -->
	
	<select id="selectByKakaoId" parameterType="string" resultMap="memberResultSet">
		SELECT *
		  FROM MEMBER
		 WHERE LOGIN_METHOD = 'K'
		   AND USER_ID = #{kakaoId}
	</select>
</mapper>
