<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ptjMapper">

<resultMap type="ptj" id="ptjDetailResultSet">
	<result column="BOARD_NO" property="boardNo" />
	<result column="PRICE" property="price" />
	<result column="START_TIME" property="startTime" />
	<result column="END_TIME" property="endTime" />
	<result column="IS_END" property="isEnd" />
	<result column="IMG_PATH" property="imgPath" />
	<result column="LOCATION_COORDINATE" property="locationCoordinate" />
	<association property="board" column="BOARD_NO" javaType="com.ace.thrifty.board.model.vo.Board">
			<id column="BOARD_NO" property="boardNo"/>			
			<result column="CATEGORY_S_NO"  property="categorySNo"/>
			<result column="CONTENT"  property="content"/>
			<result column="CREATE_DATE"  property="createDate"/>
			<result column="READ_COUNT"  property="readCount"/>
			<result column="REPORT_COUNT"  property="reportCount"/>
			<result column="TITLE"  property="title"/>
			<result column="USER_NO"  property="userNo"/>
			<result column="WISH_COUNT"  property="wishCount"/>
			<result column="STATUS" property="status" />
		</association>
	<collection property="location" resultMap="locationResultSet"/> <!-- 집가서 ㄱㄱ -->
	<collection property="member" resultMap="memberResultSet" />
	<collection property="subCategory" resultMap="subCategoryResultSet" />
	<collection property="imageList" column="BOARD_NO" javaType="java.util.ArrayList" ofType="com.ace.thrifty.board.model.vo.Image">
		<id column="IMG_NO" property="imgNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="STATUS" property="status"/>
	</collection>
</resultMap> 

<resultMap type="location" id="locationResultSet">
	<result column="LOCATION_NAME" property="locationName" />
	<result column="LOCATION_NO" property="locationNo" />
</resultMap>

<resultMap type="subCategory" id="subCategoryResultSet">
	<result column="CATEGORY_S_NO" property="categorySNo" />
	<result column="CATEGORY_S_NAME" property="categorySName" />
	<result column="CATEGORY_U_NO" property="categoryUNo" />
</resultMap>

<!-- <resultMap type="board" id="boardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="CATEGORY_S_NO"  property="categorySNo"/>
		<result column="CONTENT"  property="content"/>
		<result column="CREATE_DATE"  property="createDate"/>
		<result column="READ_COUNT"  property="readCount"/>
		<result column="REPORT_COUNT"  property="reportCount"/>
		<result column="TITLE"  property="title"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="WISH_COUNT"  property="wishCount"/>
		<result column="STATUS" property="status" />
</resultMap> -->

<resultMap type="member" id="memberResultSet">
	<result column="PHONE" property="phone" />
	<result column="USER_ID" property="userId" />
	<result column="USER_NO" property="userNo" />
</resultMap>


<select id="selectPtjDetail" resultMap="ptjDetailResultSet">
	SELECT
		P.BOARD_NO,
		P.LOCATION_NO,
		P.PRICE,
		P.START_TIME,
		P.END_TIME,
		P.IS_END,
		B.CATEGORY_S_NO,
		SC.CATEGORY_S_NAME,
		B.TITLE,
		B.CONTENT,
		B.WISH_COUNT,
		L.LOCATION_NAME,
		I.CHANGE_NAME AS IMG_PATH,
		M.PHONE,
		M.USER_ID,
		M.USER_NO,
		P.LOCATION_COORDINATE
	FROM thrifty.PART_TIME_JOB P
	JOIN thrifty.BOARD B ON B.BOARD_NO = P.BOARD_NO
	JOIN thrifty.LOCATION L ON P.LOCATION_NO = L.LOCATION_NO
	LEFT JOIN thrifty.IMAGE I ON B.BOARD_NO = I.BOARD_NO
	LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
	LEFT JOIN SUB_CATEGORY SC ON B.CATEGORY_S_NO = SC.CATEGORY_S_NO
	WHERE P.BOARD_NO = #{bNo} AND B.STATUS = 'Y' AND I.STATUS = 'Y'
</select>

<select id="selectPtj" resultMap="ptjDetailResultSet">
	SELECT
		P.BOARD_NO,
		P.LOCATION_NO,
		P.PRICE,
		P.START_TIME,
		P.END_TIME,
		P.IS_END,
		B.CATEGORY_S_NO,
		B.TITLE,
		B.CONTENT,
		B.WISH_COUNT,
		L.LOCATION_NAME,
		P.LOCATION_NO,
		CONCAT('/resources/upfiles/ptj/', CHANGE_NAME) AS IMG_PATH,
		B.STATUS
	FROM thrifty.PART_TIME_JOB P
	JOIN thrifty.BOARD B ON B.BOARD_NO = P.BOARD_NO
	JOIN thrifty.LOCATION L ON P.LOCATION_NO = L.LOCATION_NO
	LEFT JOIN thrifty.SUB_CATEGORY SC ON B.CATEGORY_S_NO = SC.CATEGORY_S_NO
	LEFT JOIN thrifty.IMAGE I ON B.BOARD_NO = I.BOARD_NO
	WHERE B.STATUS = 'Y' AND I.STATUS = 'Y'
		<!-- <if test= 'scNo!= null and scNo !="" '>
		 	AND CATEGORY_S_NO = #{scNo}
		</if>
		<if test='location != null and location!= ""'>
	 		AND LOCATION_NO = #{location}
	 	</if> -->
</select>

<select id="selectPtjAll" parameterType="map" resultMap="ptjDetailResultSet">
	SELECT
		P.BOARD_NO,
		P.LOCATION_NO,
		P.PRICE,
		P.START_TIME,
		P.END_TIME,
		P.IS_END,
		B.CATEGORY_S_NO,
		B.TITLE,
		B.CONTENT,
		B.WISH_COUNT,
		L.LOCATION_NAME,
		P.LOCATION_NO,
		CONCAT('/resources/upfiles/ptj/', CHANGE_NAME) AS IMG_PATH,
		B.STATUS
	FROM PART_TIME_JOB P
	LEFT JOIN BOARD B ON B.BOARD_NO = P.BOARD_NO
	LEFT JOIN LOCATION L ON P.LOCATION_NO = L.LOCATION_NO
	LEFT JOIN IMAGE I ON B.BOARD_NO = I.BOARD_NO
	LEFT JOIN UPPER_CATEGORY UC ON B.CATEGORY_U_NO = UC.CATEGORY_U_NO
	WHERE UC.CATEGORY_U_NO = 5 AND B.STATUS = 'Y' AND I.STATUS = 'Y'
		<if test= 'scNo!= null and scNo !="" '>
		 	AND B.CATEGORY_S_NO = #{scNo}
		</if>
		<if test='lNo != null and lNo!= ""'>
	 		AND P.LOCATION_NO = #{lNo}
	 	</if>
</select>

<insert id="insertPtj" parameterType="ptj">
	INSERT INTO PART_TIME_JOB(BOARD_NO, LOCATION_NO , PRICE , START_TIME , END_TIME , LOCATION_COORDINATE)
						VALUES(#{boardNo} , #{locationNo} , #{price} , #{startTime} , #{endTime} , #{locationCoordinate})
</insert>

<update id="updatePtj" parameterType="ptj">
	UPDATE PART_TIME_JOB 
	SET
		LOCATION_NO = #{locationNo},
		PRICE = #{price} ,
		START_TIME = #{startTime} ,
		END_TIME = #{endTime}
	WHERE BOARD_NO = #{boardNo}
</update>

<select id="updateFormPtj" resultMap="ptjDetailResultSet">
	SELECT
		P.BOARD_NO,
		P.LOCATION_NO,
		P.PRICE,
		P.START_TIME,
		P.END_TIME,
		P.IS_END,
		B.CATEGORY_S_NO,
		SC.CATEGORY_S_NAME,
		B.TITLE,
		B.CONTENT,
		B.WISH_COUNT,
		L.LOCATION_NAME,
		I.CHANGE_NAME AS IMG_PATH,
		M.PHONE,
		P.LOCATION_COORDINATE,
		M.USER_ID
	FROM thrifty.PART_TIME_JOB P
	JOIN thrifty.BOARD B ON B.BOARD_NO = P.BOARD_NO
	JOIN thrifty.LOCATION L ON P.LOCATION_NO = L.LOCATION_NO
	LEFT JOIN thrifty.IMAGE I ON B.BOARD_NO = I.BOARD_NO
	LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
	LEFT JOIN SUB_CATEGORY SC ON B.CATEGORY_S_NO = SC.CATEGORY_S_NO
	LEFT JOIN thrifty.UPPER_CATEGORY UC ON B.CATEGORY_U_NO = UC.CATEGORY_U_NO
	WHERE UC.CATEGORY_U_NO = 5 AND P.BOARD_NO = #{boardNo} AND B.STATUS = 'Y' AND I.STATUS = 'Y'
</select>

<update id="workEnd" parameterType="ptj">
	UPDATE PART_TIME_JOB
	SET IS_END = 'Y'
	WHERE BOARD_NO = #{boardNo}
	<if test="userNo != null and userNo != 0">
		AND USER_NO = #{userNo}
	</if>
</update>

<update id="deleteImage" parameterType="board">
	UPDATE IMAGE
	   SET STATUS = 'N'
	WHERE BOARD_NO = #{boardNo}
</update>

<select id="selectPtjCount" parameterType="map" resultType="_int">
	SELECT COUNT(*) 
	FROM PART_TIME_JOB
	JOIN LOCATION USING(LOCATION_NO)
	JOIN BOARD B USING(BOARD_NO)
	JOIN IMAGE USING(BOARD_NO)
	WHERE B.STATUS = 'Y'
		<if test= 'scNo!= null and scNo !="" '>
	 		AND CATEGORY_S_NO = #{scNo}
	 	</if>
	 	<if test='lNo != null and lNo != ""'>
	 		AND LOCATION_NO = #{lNo}
	 	</if>
</select>
</mapper>
