<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="smallgroupMapper">
	
	<resultMap type="smallgroup" id="smallgroupResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="SMALL_LOCATION" property="smallLocation"/>
		<result column="RECRUIT_NO" property="recruitNo"/>
		<result column="KAKAO_LINK" property="kakaoLink"/>
		<association property="board" resultMap="boardResultSet"/>
		<association property="member" resultMap="memberResultSet"/>
		
	</resultMap>
	
	
	
	<resultMap type="board" id="boardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="CATEGORY_S_NO"  property="categorySNo"/>
		<result column="CONTENT"  property="content"/>
		<result column="CREATE_DATE"  property="createDate"/>
		<result column="READ_COUNT"  property="readCount"/>
		<result column="REPORT_COUNT"  property="reportCount"/>
		<result column="TITLE"  property="title"/>
		<result column="USER_NO"  property="userNo"/>
		<result column="WISH_COUNT"  property="wishCount"/>
	</resultMap>
	
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="GENDER" property="gender"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="PWD_UPDATE_DATE" property="pwdUpdateDate"/>
		<result column="IS_BANNED" property="isBanned"/>
		<result column="REPORT_COUNT" property="reportCount"/>	
	</resultMap>
	
	
	
	
	
	<insert id="sgInsertBoard2">
		INSERT INTO SMALL_GROUP
		(
		BOARD_NO,
		SMALL_LOCATION,
		RECRUIT_NO,
		KAKAO_LINK
		)
		VALUES(
		#{boardNo},
		#{smallLocation},
		#{recruitNo},
		#{kakaoLink}
		)
		
	
	</insert>
	
	<select id="sgSelectList" resultMap="smallgroupResultSet">
	SELECT SG.BOARD_NO, SG.SMALL_LOCATION, SG.RECRUIT_NO, M.NICK_NAME, B.TITLE, B.CREATE_DATE
		FROM SMALL_GROUP SG
		LEFT JOIN BOARD B ON SG.BOARD_NO = B.BOARD_NO
		LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
		WHERE B.CATEGORY_U_NO = 7 AND B.STATUS= 'Y'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectsgDetail" resultMap="smallgroupResultSet">
	SELECT B.BOARD_NO, SG.SMALL_LOCATION, SG.RECRUIT_NO, M.NICK_NAME, B.TITLE, B.CONTENT, M.USER_NO, SG.KAKAO_LINK
	FROM SMALL_GROUP SG
	LEFT JOIN BOARD B ON SG.BOARD_NO = B.BOARD_NO
	LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
	WHERE B.CATEGORY_U_NO = 7 AND B.BOARD_NO= #{boardNo}	
	
	</select>
	
	<update id="sgUpdateBoard2">
	UPDATE SMALL_GROUP 
	SET SMALL_LOCATION = #{smallLocation},
	   RECRUIT_NO = #{recruitNo},
	   KAKAO_LINK = #{kakaoLink}
	 WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	<update id="sgDeleteBoard">
	UPDATE BOARD
	SET STATUS = 'N'
	WHERE BOARD_NO = #{boardNo}
	
	</update>
	
	<select id="selectsmallgroup" parameterType="map" resultMap="smallgroupResultSet">
		SELECT SG.BOARD_NO, SG.SMALL_LOCATION, SG.RECRUIT_NO, M.NICK_NAME, B.TITLE, B.CREATE_DATE
		FROM SMALL_GROUP SG
		LEFT JOIN BOARD B ON SG.BOARD_NO = B.BOARD_NO
		LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
		WHERE B.CATEGORY_U_NO = 7 AND B.STATUS= 'Y'
		ORDER BY B.BOARD_NO DESC
	
	</select>
	
	<select id= "selectsmallgroupCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM SMALL_GROUP
		JOIN BOARD B USING(BOARD_NO)
		WHERE B.STATUS= 'Y'
	
	
	</select>
	
	
</mapper>
