<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wishListMapper">
	<resultMap type="wishList" id="wishListResultSet">
		<result column="USER_NO" property="userNo"/>
		<result column="BOARD_NO" property="boardNo"/>
	</resultMap>
	
	<insert id="insertWishList" parameterType="wishList">
		INSERT INTO WISH_LIST VALUES(#{boardNo}, #{userNo})
	</insert>
	
	<select id="selectWishList" parameterType="wishList" resultMap="wishListResultSet">
		SELECT * 
		  FROM WISH_LIST
		 WHERE USER_NO = #{userNo}
		   AND BOARD_NO = #{boardNo}
	</select>
	
	
	
	

</mapper>
