<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
<!-- 	<settings> -->
<!-- 		<setting name="logImpl" value="LOG4J"/> -->
<!-- 		<setting name="jdbcTypeForNull" value="NULL"/> -->
<!-- 	</settings> -->

	
	<typeAliases>
		<typeAlias type="com.ace.thrifty.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.ace.thrifty.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.ace.thrifty.board.model.vo.Image" alias="image"/>
		<typeAlias type="com.ace.thrifty.house.model.vo.House" alias="house"/>
		<typeAlias type="com.ace.thrifty.house.model.vo.Room" alias="room"/>
		<typeAlias type="com.ace.thrifty.house.model.vo.RoomImg" alias="roomImg"/>
		<typeAlias type="com.ace.thrifty.board.model.vo.UpperCategory" alias="upperCategory"/>
		<typeAlias type="com.ace.thrifty.smallgroup.model.vo.SmallGroup" alias="smallgroup"/>
		<typeAlias type="com.ace.thrifty.ptj.model.vo.Ptj" alias="ptj"/>
		<typeAlias type="com.ace.thrifty.board.model.vo.SubCategory" alias="subCategory"/>
		<typeAlias type="com.ace.thrifty.board.model.vo.Location" alias="location"/>
		<typeAlias type="com.ace.thrifty.usedProduct.model.vo.UsedProduct" alias="usedProduct"/>
		<typeAlias type="com.ace.thrifty.co_purchase.model.vo.Co_purchase" alias="co_purchase"/>
		<typeAlias type="com.ace.thrifty.common.model.vo.Coordinate" alias="coordinate"/>
		<typeAlias type="com.ace.thrifty.admin.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.ace.thrifty.wishList.model.vo.WishList" alias="wishList"/>
		<typeAlias type="com.ace.thrifty.message.model.vo.Message" alias="message"/>
		<typeAlias type="com.ace.thrifty.house.model.vo.Tour" alias="tour"/>
	</typeAliases>
	
	<!-- 
		environments, datasource에 기술했던 db연결정보는 별도로 기술할 예정(root-context.xml에 작성)
		-> root-context.xml(db등록은 서버연동과 동시에 이루어져야하기때문에 서버연결과 동시에 읽혀지는
		root-context.xml에 기술하는 것임)
	 -->
	<mappers>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/house-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/smallgroup-mapper.xml"/>
		

		<mapper resource="/mappers/ptj-mapper.xml" />
		<mapper resource="/mappers/co_purchase-mapper.xml"/>
		<mapper resource="/mappers/usedProduct-mapper.xml"/>
		<mapper resource="/mappers/wishList-mapper.xml"/>
		<mapper resource="/mappers/message-mapper.xml"/>
	</mappers>

</configuration>
