/* .freeBoard_mapper{
border: 1px solid black;
} */

.freeBoard_mapper ul{
    margin: 0;
}

.freeBoard_top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0px 5px 8px 5px;
}
.board_enroll_btn{
    background-color: #0085ff;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    align-self: end;
    padding: 6px 7px 2px 7px;
}
.freeBoard_bottom{
    border: 1px solid #ccc;
}

.freeBoard_category{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    border-bottom: 1px solid black;
}
.freeBoard_category a{
    background-color: #006fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: 105px;
    text-align: center;
    color: white;
}
.freeBoard_category a:hover{
    background-color: #003C78;
}

.active{
    background-color: #003C78 !important;
}

.board_li{
    padding: 12px 5px;
    border-bottom: 1px solid black;
}

.board_mapper{
    display: flex;
    justify-content: space-between;
    max-height: 60px;
}

.board_mapper_left{
    display: flex;
}
.board_attr{
    display: flex;
    /* flex-direction: column; */
}
.board_img>img{
    width: 60px;
    height: 60px;
    margin: 0px 12px 0px 0px;
}


.read{
    display: flex;
    margin-left: 12px;
}

.readCount{
    margin-left: 3px;
    font-size: 14px;
    color: #ccc;
}

.board_mapper_right{
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.board_title{
    font-weight: 700;
    font-size: 20px;
}

#pagingbar{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    font-size: 0.5cm;   
}

/* padding-top: 6px; */

.pagingbar_count {
   padding-top: 6px;
}

.tab{
    font-size: 25px;
     color: rgb(0, 60, 120);
 }
 
 .tab1{
    padding-top: 4px;
 }

.freBoard_list_warpper{
    padding: 20px;
}
