.freeBoard_mapper{
border: 1px solid black;
}

.freeBoard_top{
    border-bottom: 1px solid black;
}

.board_mapper{
    display: flex;
    justify-content: space-between;
}

.board_mapper_left{
    display: flex;
}
.board_attr{
    display: flex;
    flex-direction: column;
}
.board_img>img{
    width: 80px;
    height: 80px;
}

.board_mapper_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}