
		.wrap{
		 padding-top: 155px;
		}
        
        #sharetitle{
            text-align: center;
        }

        .img-bx{
            width: 100%;
        }

        .img-bx > div{
            border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            height: 700px;
        }

        .img-bx img{
            width: 100%;
            height: 700px;
        }

        .slick-prev, .slick-next{
            border: none;
            background-color: transparent;
            position: absolute;
            z-index: 1;
            
        }
        .slick-prev img, .slick-next img{
            width: 10px;
            height: 10px;
        }

        .slick-prev{
            top: 50%;
            left: 2%;
        }

        .slick-next{
            bottom: 50%;
            right: 2%;
        }

        /* slick.css */

        .dots_custom {
        position : absolute;
        margin: auto 0;
        padding: 0;
        bottom: 2%;
        left: 50%;
        }

        .dots_custom li {
        list-style: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 6px;
        padding: 0;
        }

        .dots_custom li button {
        border: none;
        background: #d1d1d1;
        color: transparent;
        cursor: pointer;
        display: block;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        padding: 0;
        }

        .dots_custom li.slick-active button {
        background-color: #08c1ce;

        }

        #img-select{
            display: flex;
        }

        #nav {
            display: flex;
            border-bottom: 1px solid #999;
        }

        #nav>div{
            width: 100%;
            cursor: pointer;
        }
        #nav p{
            text-align: center;
            color: #999;
            font-size: 20px;
        }
        #state {
            display: flex;
            justify-content: center;
        }

        #state table, td, th{
            border : 1px solid black;
            border-collapse : collapse;
        }

        #information>div, #service>div, #location>div, #procedure {
            border: 1px solid #999;
            border-radius: 5px;
        }

        #back{
            display: flex;
            justify-content: flex-end
        }

        #back>div{
            width: 130px;
            height: 50px;
            color: white;
            background: #08c1ce;
            margin-right: 5%;
            border-radius: 5%;
            display: flex;
            align-items: center;
        }

        #back p{
            width: 100%;
            text-align: center;
        }
      
        .circle > div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .circle h3{
            text-align: center;
        }

        #procedure1{
            border: 1px solid rgb(205, 145, 145);
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            position: relative;
            align-items: center;

        }

        #procedure2{
            border: 1px solid rgb(106, 75, 246);
            border-radius: 5px;
            margin: 20px;
            display: flex;
            justify-content: space-around;
            padding: 0px 20px;
        }

        #procedure2 > div {
            width: 40%;
        }

        .circle{
           background: rgb(200, 237, 243);
           border-radius: 100%;
            top: 0;
            left: 0;
            width: 13vw;
            height: 13vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }

       .circle img{
            width: 5vw;
            height: 5vw;
            
       }
       .circle p, .circle h3{
        font-size: 1vw;
        margin: 0;
       }

        .arrowimg{
            width: 3vw;
            height: 3vw;
        }

        .wrap{
            margin: 0px 10vw;
        }

        .wrap>div{
            margin: 10px 0px;
        }
        body{
			padding: 0;
			margin: 0;
		}