   
    	body{
    		margin: 0;
    		padding: 0;
    	}
        .wrap{
            margin: 0px 10vw;
            padding-top: 155px;
            padding-bottom: 30px;
        }

        #ask{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        #homecontent>div{
            width: 100%;
        }
        #sharetitle{
            text-align: center;
        }

        #homecontent{
            border: 1px solid #999;
            border-radius: 5px;
            margin: 0px 280px;
        }

        #apply{
        width:100px;
        margin:auto;
        display:block;
    }

    #ask>div{
        margin: 0px 45px;
    }

    #ask button{
        cursor: pointer;
		background: #eee;
		border: none;
		border-radius: 5px;
		width: fit-content;
		height: 30px;
    }

    #ask input {
        width: 70%;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #999;
    }

    #ask table{
    width: 100%;
    border-top: 1px solid #999;
    border-collapse: collapse;
    }

    #ask th{
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        padding: 10px;
    }

    #ask td {
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
    }

   
    #ask th:first-child,  #ask td:first-child {
        border-left: none;
    }

    #ask table input {
        width: 90%;
         border: none; 
    }

    #ask input:focus {
    outline: none;
}

    #roomAdd input{
        width: 30%;
    }

    #information{
        width: 80%;
        height: 6.25em;
        resize: none;
    }
