
		.wrap{
		 padding-top: 155px;
		}
        
        #sharetitle{
        	position: relative;
            text-align: center;
        }
        #sharetitle1{
        	width: 100%;
        }
        #report-btn{
        	cursor: pointer;
        	position: absolute;
        	right: 5px;
    		top: 50%;
        }
        
         #inquiry-btn{
        	cursor: pointer;
        	position: absolute;
        	right: 40px;
    		top: 50%;
        }

        .img-bx{
            width: 100%;
        }

        .img-bx > div{
            border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            height: 700px;
        }

        .img-bx img{
            width: 100%;
            height: 700px;
        }

        .slick-prev, .slick-next{
            border: none;
            background-color: transparent;
            position: absolute;
            z-index: 1;
            
        }
        .slick-prev img, .slick-next img{
            width: 10px;
            height: 10px;
        }

        .slick-prev{
            top: 50%;
            left: 2%;
        }

        .slick-next{
            bottom: 50%;
            right: 2%;
        }

        /* slick.css */

        .dots_custom {
        position : absolute;
        margin: auto 0;
        padding: 0;
        bottom: 2%;
        left: 50%;
        }

        .dots_custom li {
        list-style: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 6px;
        padding: 0;
        }

        .dots_custom li button {
        border: none;
        background: #d1d1d1;
        color: transparent;
        cursor: pointer;
        display: block;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        padding: 0;
        }

        .dots_custom li.slick-active button {
        background-color: #08c1ce;

        }

        #img-select{
            display: flex;
        }

        #img-select > div {
            width: fit-content;
            height: 40px;
            margin: 0px 10px;
            
        }

        #img-select button{
            width: 100%;
            height: 100%;
            background-color: white;
            color: rgb(0, 60, 120);
            font-size: 16px;
            border: 1px solid rgb(0, 60, 120);
            border-radius: 50px;
            padding: 3px 15px;
            cursor: pointer;
        }

        #nav {
            display: flex;
            border-bottom: 1px solid #999;
            margin-bottom : 40px;
        }

        #nav>div{
            width: 100%;
            cursor: pointer;
        }
        #nav a{
            text-align: center;
            color: #999;
            font-size: 24px;
        }
        .Htable {
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding-bottom: 70px;
            padding-top: 10px;
        }
                

        .Htable table, td, th{
            border : none;
            border-collapse : collapse;
            text-align: center;
        }

        .Htable table{
            width: 95%;
        }

        .Htable tr{
            height: 50px;
           
        }

        .Htable th{
            border-bottom: 1px solid #999;
            border-top: 1px solid #999;
           
        }

        .Htable td{
            color : #999;
           
        }

        .Htable button {
            width: fit-content;
            height: 40px;
            background-color: rgb(0, 60, 120);
            color: white;
            font-size: 16px;
            border: 1px solid rgb(0, 60, 120);
            border-radius: 50px;
            padding: 3px 15px;
            cursor: pointer;
        }



        #information>div, #service>div, #location>div, #procedure {
            border: 1px solid #999;
            border-radius: 5px;
            padding: 20px;
        }

        #information, #location{
            padding-bottom: 70px;
        }

        #back{
            display: flex;
            justify-content: flex-end
        }

        #back>div{
            width: 130px;
            height: 50px;
            color: white;
            background: #08c1ce;
            margin-right: 5px;
            border-radius: 5%;
            display: flex;
            align-items: center;
        }

        #back p{
            width: 100%;
            text-align: center;
        }
      
        .circle > div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .circle h3{
            text-align: center;
        }

        #procedure1{
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            position: relative;
            align-items: center;

        }

        #procedure2{
            border: 1px solid #999;
            border-radius: 5px;
            margin: 30px 20px 20px 20px;
            display: flex;
            justify-content: space-around;
            background: #999;
            padding: 15px;
        }

        #procedure2 > div {
            width: 45%;
        }

        #procedure2 > div span{
            display: inline-block;
            color: white;
            padding-bottom: 8px;
        }

        .circle{
           background: rgb(200, 237, 243);
           border-radius: 100%;
            top: 0;
            left: 0;
            width: 13vw;
            height: 13vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }

       .circle img{
            width: 5vw;
            height: 5vw;
            
       }
       .circle p, .circle h3{
        font-size: 1vw;
        margin: 0;
       }

        .arrowimg{
            width: 3vw;
            height: 3vw;
        }

        .wrap{
            margin: 0px 10vw;
        }

        .wrap>div{
            margin: 10px 0px;
        }
        body{
			padding: 0;
			margin: 0;
		}

        #map{
            width: 100%;
            height: 500px;
        }
        
        .navbtn p:hover{
        	color: rgb(0, 60, 120);
        	
        }
        
        .btnClick{
        	background-color:rgb(0, 60, 120) !important;
            color : white !important;
        }
        
        .compl{
        	background-color : #999 !important;
        	border: 1px solid #999 !important;
        }
 */
        /* 카카오맵 */
        .map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
        .map_wrap {position:relative;width:100%;height:600px;}
        #category {position:absolute;padding:0px;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
        #category li {float:left;list-style: none;width:50px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
        #category li.on {background: #eee;}
        #category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
        #category li:last-child{margin-right:0;border-right:0;}
        #category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
        #category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
        #category li .bank {background-position: -10px 0;}
        #category li .mart {background-position: -10px -36px;}
        #category li .pharmacy {background-position: -10px -72px;}
        #category li .oil {background-position: -10px -108px;}
        #category li .cafe {background-position: -10px -144px;}
        #category li .store {background-position: -10px -180px;}
        #category li.on .category_bg {background-position-x:-46px;}
        .placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
        .placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
        .placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        .placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        .placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
        .placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        .placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
        .placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        .placeinfo .tel {color:#0f7833;}
        .placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}