.wrap {
    display: flex;
    padding-top: 17vh;
}

#map{
    width: 127vh;
    height: 83vh;
     padding-top : 9px;
}

#left{
    margin-left: 20px;
    padding-top : 30px;
    width: 50%;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;  
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(149, 156, 159); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

body{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#housewrap{
    display: flex;
    width: 98%;
    height: 70vh;
    flex-wrap: wrap;
    overflow:scroll;
    overflow-x: hidden;
}

.house {
  	padding: 7px;
    width: 30%;
    margin-right: 7px;
    margin-top: 1px;
}

.houseImg {
    width: 100%;
    cursor: pointer;
}

.houseImg:hover{
    transform:scale(1.1);
    transition: 0.5s ease-out;
}

.houseImg:not(:hover){
    transition: 0.5s ease-out;
}

.house p {
    margin: 8px 0px;
    overflow: hidden;
}

.house> * {
    overflow-y: hidden;
}

#hSearch {
    width: 100%;
    font-size: 40px;
    border: 0px;
}

#hSearch:focus {
    outline: none;
}

#searchDiv{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#searchbtn{
    border: 0px;
    background: none;
    width: 100%;
}

#searchbtn img{
	cursor:pointer;
   width: 70%;
}

#filterbtn{
    width: 70%;
}

#left-top{
    width: 100%;
    display:flex;
    margin-bottom: 10px;
}

#left-top div:nth-child(2){
   width: 10%;
}

.house div:nth-child(1){
    width: 100%;
    height: 10vw;
    border-radius: 4px;
    overflow: hidden;
}

.house div:last-child{
	display:flex;
	justify-content: space-between;
	padding-right: 7px;
}

.scrapImg{
	cursor: pointer;
	width: 25px;

}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

#enrolldiv{
	position: fixed;
	right: 30px;
	bottom : 30px;
	z-index: 10;
}

#enrolldiv button{
	    line-height: 50px;
	cursor: pointer;
	border-radius: 2.25em;
	font-size: 18px;
	background: white;
	border: 2px solid blue;
	height: 50px;
	width: 230px;
	color: blue;
	font-weight: bold;
	box-shadow: 0px 1px 5px 0px gray;
}

#enrolldiv button:hover{
	background: blue;
	color: white;
}

#enrolldiv a{
	color: inherit;
  text-decoration: none;
}

.markerInfo {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}

.house h3{
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}