.scrollbar::-webkit-scrollbar {
    width: 10px;  
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(25, 163, 212); /* �뒪�겕濡ㅻ컮 �깋�긽 */
    border-radius: 10px; /* �뒪�겕濡ㅻ컮 �뫁洹� �뀒�몢由� */
}

.scrollbar::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);  /*�뒪�겕濡ㅻ컮 �뮮 諛곌꼍 �깋�긽*/
    border-radius: 10px;
}


#upper-category{
    height: 150px;
    border-bottom: 2px solid gray;
    font-size: 28px;
    color: white;
    display: flex;
    width: 270px;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    
}

#body-left{
    display: inline-block;
    width: 15%;
    min-width: 290px;
    min-height: 900px;
    background-color: rgb(0, 60, 120);
    margin-right: 10px;
    box-shadow: 1px 1px 5px 0px;
}

#upper-category>div{
    display: flex;
    align-items: center;
}

#upper-category img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
#upper-category-name > a{
    font-size: 28px;
    text-decoration : none;
    color : white;
}

#sub-category{
    height: 500px;
    width: 270px;
    margin: 0px 10px;
    color: white;
    display: inline-block;
    border-bottom: 2px solid gray;
}

#sub-category ul{
    height: 470px;
    overflow-y: scroll;
}

#sub-category li{
    list-style-type: none;
    margin: 20px 0;
}

#filter{
    height: 300px;
    width: 270px;
    margin: 0px 10px;
    color: white;
}


#filter ul{
    height: 280px;
    overflow-y: scroll;
}

#filter li{
    list-style-type: none;
    margin: 20px 0;
}

#filter input[type='number']{
    width: 110px;
}
#filter select{
    width: 110px;
    text-align: center;
}

.upper_a{
	color: white;
}


.advall{
	margin-top: 10px;
    margin-right: 30px;
    height: 300px;
    background-color: #ffe992;
   color: black;
   text-align : center;
   border-radius : 2rem;
   padding: 15px;
  
   
   
}