*{
    /* border: 1px solid white !important; */
    box-sizing : border-box;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

#body{
    padding-top: 180px;
}

#header{
    width: 100%;
    height: 140px;
    box-shadow: 0px 1px 5px 0px gray;
    position: fixed;
    z-index: 10;
    transition: 0.4s
}

#header_type2{
    width: 100%;
    height: 85px;
    box-shadow: 0px 1px 5px 0px gray;
    position: fixed;
    z-index: 10;
    transition: 0.4s
}

#header_1_1{
    display: flex;
    align-items: center;
}

#header_1{
    display: flex;
    justify-content: space-between;
    padding: 10px 300px 0px 300px;
}

#main_logo{
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

#header_1_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    font-weight: 900;
    font-size: 18px;
}

#header_1_2>div{
    cursor: pointer;
}

#header_search{
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

#header_2{
    width: 1200px;
    padding-left: 350px;
}

#header_2_1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 900;
}

.main_category{
    height: 30px;
    cursor: pointer;
}

.main_underline{
    border-radius: 5px;
    margin-top: 3px;
}

.underline_basic{
    border-radius: 5px;
    margin-top: 3px;
    border-top: 3px solid rgb(0, 60, 120);
}

.underline_white{
    border-radius: 5px;
    margin-top: 3px;
    border-top: 3px solid white;
}

.changeColor{
    background-color: white;
}

.background_basic{
    background-color: rgb(0, 60, 120);
}

.background_white{
    background-color: white;
}
    
.header_img_basic{
    background-image: url("/thrifty/resources/images/main/icon/logo2.2.png");
}

.header_img_white{
    background-image: url("/thrifty/resources/images/main/icon/logo1.2.png");
}

.content_basic{
    color: rgb(0, 60, 120);
}

.content_white{
    color: white;
}

.search_img_basic{
    background-image: url("/thrifty/resources/images/main/icon/search-1.png");
}

.search_img_white{
    background-image: url("/thrifty/resources/images/main/icon/search-3.png");
}
.swal2-popup{
    width: 560px;
    /* background-color: transparent; */
}

#dark_icon{
    top: 0;
    left: 500px;
}

.toggleSwitch {
    width: 60px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
}

.toggleSwitch #toggleButton {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.toggleSwitch.active #toggleButton {
    left: calc(100% - 28px);
}

.toggleSwitch, #toggleButton {
    transition: all 0.2s ease-in;
}

.toggleSwitch.blue.active {
    background: #5151e5;
}

.toggleSwitch.blue #toggleButton {
    background-image: url("/thrifty/resources/images/main/icon/sun.png");
    background-size: contain;
    background-repeat: no-repeat;
}
