.board_detail{
    width: 100%;
    border: 1px solid #F1F1F1;
    min-height: 30em;
    /* padding: 20px; */
}
.notice_content{
    margin: 40px 27px;
    word-break: break-all;

}

.notice_info{
    padding: 20px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    font-size: 12px;
    color: #aaa;
    text-align: end;
}

.notice_title{
    padding: 37px 27px 30px;
    border-top: 1px solid #7e7e7e;
    background-color: #f9f9f9;
}

.notice_title h2{
    margin: 0px;
}

.noticeList_btn_area{
    text-align: center;
    margin: 50px 0px;

}

.noticeList_btn{
    background-color: #333333;
    color: white;
    border-radius: 8x;
    font-size: 18px;
}