#cat_title_box{
	padding-top: 30px;
    padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

#cat_title_1{
    font-weight: 500;
    font-size: 30px;
}

#edit_btn{
    align-items: end;
}

.edit_btn{
    width: 60px;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px 5px 0px;
}

.edit_btn+.edit_btn{
    margin-left: 5px;
}

#edit{
	margin-right: 5px;
}

#detail_header{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(160, 160, 160);
}
#detail_header_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#detail_header_1_title{
    font-size: 40px;
}

#profile{
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

#profile_1{
    align-items: center;
}

#profile_img{
    width: 40px;
    height: 40px;
}

#nickname{
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 900;
    font-size: 19px;
}

#recruit_1{
	padding-top: 4px;
}

#recruit_2{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(19, 137, 255);
    border-radius: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 4px;
    padding-left: 3px;
}

.header_text{
    font-size: 16px;
    color: rgb(160, 160, 160);
}

#views{
    margin-left: 14px;
    margin-right: 5px;
}

#end_date{
    margin-right: 5px;
    font-size: 16px;
}

#body_description{
    margin-top: 20px;
}
#body_description_1{
    max-width: 600px;
    height: 400px;
    padding-right: 20px;
    border-right: 1px solid rgb(160, 160, 160);
}

#body_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#body_description_2{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-left: 20px;
}

#body_description_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body_text{
    font-size: 25px;
    font-weight: 600;
}

.body_text+.body_text{
    padding-top: 10px;
}

#body_description_title{
    padding: 40px 0px;
}

.body_description_chatting{
	text-align: center;
    width: 110px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 20px 20px;
    background-color: rgb(19, 137, 255);
    border-radius: 5px;
    padding-top: 16px;
}

.body_description_wish{
	text-align: center;
    width: 110px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 20px auto;
    background-color: #fdc467;
    border-radius: 5px;
    padding-top: 16px;
}

#body_description_link{
    
}

#body_text{
    margin-top: 30px;
    font-size: 20px;
}

#link{
    margin-right: 5px;
}

.flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.align{
    align-items: center;
}