table {
    width: 100%;
    border-top: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
}

.flex{
    display: flex;
}

.align{
    align-items: center;
}

thead{
    background-color: #dddddd;
}

th, td {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 10px;
}

tr>td{
    /* text-align: center; */
}

select{
    width: 100px;
    height: 35px;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    background: url("/thrifty/resources/images/main/icon/arrow-down.png") calc(100% - 5px) center no-repeat;
    background-size: 10px;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select option{
    background-color: black;
    color: white;
    height: 100px;
}

.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  width: 120px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgb(0, 60, 120);
  background: url("/thrifty/resources/images/main/icon/arrow-down.png") calc(100% - 7px) center no-repeat;
  background-size: 10px;
  background-position: 93px;
  cursor: pointer;
}

.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: rgb(0, 60, 120);
}

.selectBox2 .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding: 5px 0px 5px 15px;
  background: transparent;
  cursor: pointer;
}

.selectBox2 .optionList {
  position: absolute; 
  top: 28px;
  left: 0;
  width: 100%;
  background: rgb(0, 60, 120);
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}

.selectBox2.active .optionList {
  max-height: 500px;
}

.selectBox2 .optionItem {
  border-bottom: 1px dashed rgb(255, 255, 255);
  padding: 5px 15px 5px;
  transition: .1s;
  font-size: 14px;
}

.selectBox2 .optionItem:hover {
  background: rgb(124, 124, 124);
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}

// 스크롤 커스텀
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

#search_content{
    display: flex;
}

#search_box{
    margin-left: 15px;
    width: 300px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid rgb(0, 60, 120);
}

#search_submit{
	cursor: pointer;
	font-size: 15px;
    padding-bottom: 5px;
    width: 60px;
    height: 35px;
    background-color: rgb(0, 95, 190);
    border: rgb(0, 95, 190);
    border-radius: 4px;
    margin-left: 15px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 8px;
}

#write_content{
    width: 70px;
    height: 35px;
    background-color: rgb(0, 95, 190);
    border: rgb(0, 95, 190);
    border-radius: 4px;
    margin-left: 15px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 11px;
}

#list_head{
    height: 40px;
}

#cat_title{
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 2.5em;
}

#pagingbar{
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    font-size: 0.5cm;   
}

.pagingbar_count {
	padding-top: 6px;
}

#searchWrite{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.detail_img{
    height: 100px;
}

.detail_img_1{
    width: 100px; 
    height: 100px;
    position: absolute;
}

.detail_img_1:hover{
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: top;
    z-index: 5;
}

.detail{
    width: 100%;
    height: 100px;
    padding: 0 20px;
    margin-left: 100px;
}

.detail_top{
    padding-top: 8px;
}

.detail_top_recruiting{
    background-color: rgb(0, 95, 190);
    color: white;
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    padding-top: 8px;
    box-shadow: 0px 1px 1px 0px gray;
}

.detail_top_close{
    background-color: rgb(126, 126, 126);
    color: white;
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    padding-top: 8px;
    box-shadow: 0px 1px 1px 0px gray;
}

.detail_middle{
    padding-top: 14px;
    font-size: 20px;
}

.detail_bottom{
    padding-top: 1px;
    justify-content: space-between;
}

.detail_bottom_price{
    padding-left: 5px;
    font-weight: 900;
}

.detail_bottom_img{
	margin-top: 2px;
    margin-right: 5px;
    width: 30px; 
    height: 30px; 
    border-radius: 100px;
    padding-top: 1px;
}

.detail_bottom_nickname{
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 62.5px;
}

.detail_bottom_2{
    font-size: 13px;
}

.detail_bottom_2 span{
    display: inline-block;
    position: relative;
    top: -1px;
    width: 24px;
    font-size: 13px;
    text-align: center;
}

.detail_bottom_2 td{
    padding: 0;
    border: none;
}

#profile{
    width: 250px;
}

.tab{
	font-size: 25px;
    color: rgb(0, 60, 120);
}