#body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ptj-body1 ,
#ptj-body2 ,
#ptj-body3 {
    display: flex;
    justify-content: space-evenly;
}

#paging {
    display: flex;
    flex-direction: column;
}

#carpool-allBody{
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
	flex-wrap: wrap;
}

img {
    border-radius: 10px;
}

img:hover {
    transition: all 0.15s linear;
    transform: translateY(-10px);
    cursor: pointer;
}

#write-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(0, 60, 120);
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 5px 5px 5px gray;
}

#write-btn:hover {
    cursor: pointer;
}

#paging-btns {
	width: 100%;
    display: flex;
    justify-content: center;
}

#paging-btns>div{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    border: 1px solid transparent;
}