#body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ptj-body1 ,
#ptj-body2 ,
#ptj-body3 {
    display: flex;
    justify-content: space-evenly;
}

#paging {
    display: flex;
    flex-direction: column;
}

#carpool-allBody{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	border-radius: 5px;
	flex-wrap: wrap;
	background-color: rgb(181, 198, 215);
}

#carpool-allBody > div {
	border: solid #3f668f 7px;
	border-radius: 10px;
	background-color: white;
}

#carpool-allBody > div:hover {
	box-shadow: 5px 5px 5px gray;
}

img {
    border-radius: 10px;
}

img:hover {
    cursor: pointer;
}

#write-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(0, 60, 120);
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 5px 5px 5px gray;
}

#write-btn:hover {
    cursor: pointer;
}

#paging-btns {
	width: 100%;
    display: flex;
    justify-content: center;
}

#paging-btns>div{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    border: 1px solid transparent;
}

#drive-content {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}