#body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ptj-body1 ,
#ptj-body2 ,
#ptj-body3 {
    display: flex;
    justify-content: space-evenly;
}

#paging {
    display: flex;
    flex-direction: column;
}

#carpool-allBody{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	flex-wrap: wrap;
	background-color: rgb(181, 198, 215);
	width: 700px;
	height: 1000px;
}

#write-btn {
    height: 40px;
    width: 100px;
    background-color: rgb(0, 60, 120);
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 5px 5px 5px gray;
}

#write-btn:hover {
    cursor: pointer;
}

#paging-btns {
	width: 100%;
    display: flex;
    justify-content: center;
}

#paging-btns>div{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    border: 1px solid transparent;
}

#drive-content {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.item-img {
	border: solid #3f668f 7px;
	border-bottom : none;
    border-radius: 10px 10px 0 0;
}

.item-info {
	border: solid #3f668f 7px;
    border-radius: 0 0 10px 10px;
    background : white;
}
.items{
	margin : 0px 10px;
	cursor: pointer;
	height: 295px;
    border-radius: 12px;
}
.items:hover{
	box-shadow: 5px 5px 5px gray;
}

#search{
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3f668f;
    border-radius: 3px;
    background:white;
}

#search>img{
    margin: 10px;
}
#search>input{
    border: 1px solid transparent;
    height: 100%;
    background : white;
    border-left: 2px solid #3f668f;
    width: 210px;
    padding-left : 10px;
}

#search>input:focus { 
	outline: none; 
}