#body-right{
    display: inline-block;
    margin-left: 30px;
    width: 50%;
    min-width: 730px;
    min-height: 900px;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#body-right-category{
    font-size: 30px;
    
}

#body-right-title, #body-right-date-count{
    display: inline-block;
    padding: 20px 10px 5px 10px;
    text-align: center;
}

#body-right-title{
    font-size : 23px;
    font-weight: bold;
}

#body-right-date-count{
    font-size : 15px;
}

#body-right-body{
    min-height: 900px;
}

#item-info{
    display: flex;
    align-items: center;
    margin: 7px 0px;
    padding : 10px 0px 10px 10px;
    height: 550px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

#body-right-content{
    min-height: 350px;
    padding: 10px;
    border-radius: 5px;
}

#item-imgs{
    width: 450px;
    height: 500px;
}

.main-img{
    width: 450px;
    height: 400px;
    border-radius: 5px;
}

.sub-img{
    width: 95px;
    height: 90px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#item-details{
    width: 480px;
    height: 500px;
    margin-left: 40px;
}

#item-details div{
    margin-bottom: 20px;
}

#item-name{
    font-size: 35px;
}

#item-price{
    font-size: 30px;
    color: red;
}

#item-seller{
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-btns{
    display: flex;
    justify-content: right;
}

#item-btns>div{
    margin-top: 5px;
    margin-left: 5px;
    width : 75px;
    height : 30px;
    padding : 3px;
    border-radius: 4px;
    color : white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.7;
}

#inquiry-btn{
    background-color: #fdc467;
}

#wish-btn{
    background-color: #3498db;
}
#report-btn{
    background-color: red;
}

#body-right-content{
    background-color: rgb(181 198 215);
    padding: 20px;
}
#writer-btns{
    display: flex;
    justify-content: flex-end;
}
#writer-btns>div{
    margin-top: 5px;
    margin-left: 5px;
    width : 75px;
    height : 30px;
    padding : 3px;
    border-radius: 4px;
    color : white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.7;
}
#delete-btn{
    background-color: black;
}
#modify-btn{
    background-color: rgb(52, 152, 219);
}



